<div class="update">
  <div class="col-6">
    <app-nav-return-button (onClick)="close()"></app-nav-return-button>
    <article class="container-egd mt-5">
      <ng-container *ngIf="!updateLaunched; else updateLaunchedTemplate">
        <section class="mb-2" *ngIf="contextSearchMrService.getContext().collecteMessage">
          <h4 class="mt-0 mb-1">Message client : </h4>
          <div>{{ contextSearchMrService.getContext().collecteMessage }}</div>
        </section>
        <section>
          <div class="title">
            <h3>Mettre à jour les métadonnées dossier :</h3>
          </div>
          <section *ngIf="showSelectedCustomer" class="selected-customer">
            <div class="infos-customer">
              <p><strong>Numéro dossier :</strong> {{updateCustomer.value.numeroDossier}}</p>
              <p><strong *ngIf="updateCustomer.value.nomDossier">Nom dossier
                :</strong> {{updateCustomer.value.nomDossier}}
              </p>
              <p><strong>Code budget :</strong> {{updateCustomer.value.codeBudget}}</p>
            </div>
            <button *ngIf="!showDirectory && !showCustomerForm" mat-mini-fab color="primary" (click)="destroyCustomer()"
                    matTooltip="Nouvelle recherche">
              <mat-icon>search</mat-icon>
            </button>
          </section>
          <app-search-dossier *ngIf="showDirectory"
                              (clearCustomerEvent)="destroyCustomer()"
                              (resetSearch)="destroyCustomer()"
                              (result)="setCustomer($event)"
                              [customerSearchPending]="customerSearchPending"
                              [dossierList]="dossierList">
          </app-search-dossier>
          <div *ngIf="showCustomerForm">
            <form [formGroup]="updateCustomer">
              <div class="fields">
                <mat-form-field class="two">
                  <input autocomplete="off" matInput placeholder="Numéro dossier" formControlName="numeroDossier"/>
                  <span class="obligatoire">*</span>
                </mat-form-field>
                <mat-form-field class="two">
                  <input autocomplete="off" matInput placeholder="Code budget" formControlName="codeBudget"/>
                  <span class="obligatoire">*</span>
                </mat-form-field>
              </div>
            </form>
          </div>
          <ng-container *ngIf="uuids.length === 1">
            <div class="title mt-5">
              <h3>Mettre à jour les métadonnées du document :</h3>
            </div>
            <form [formGroup]="updateDocumentForm">
              <div class="fields">
                <div [ngStyle]="{'order': '2'}" class="two">
                  <app-autocomplete [list]="categorieList"
                                    class="w-100"
                                    formControlName="categorie"
                                    placeHolder="Catégorie">
                  </app-autocomplete>
                </div>
                <div [ngStyle]="{'order': '3'}" class="two">
                  <app-autocomplete [list]="classementList"
                                    class="w-100"
                                    formControlName="classement"
                                    placeHolder="Classement">
                  </app-autocomplete>
                </div>
              </div>
              <div>
                <app-autocomplete [list]="documentTypeList"
                                  class="w-100"
                                  formControlName="documentType"
                                  placeHolder="Type de document">
                </app-autocomplete>
              </div>
              <div class="fields-grid">
                <ng-container *ngFor="let input of inputs; let i = index; trackBy:trackByIndex;">
                  <!--  Champs type text -->
                  <mat-form-field *ngIf="input.type === 'text'" [ngStyle]="{'order': input.order}" class="three">
                    <input
                      #i
                      matInput
                      [placeholder]="input.label"
                      [formControlName]="input.name"
                      autocomplete="off"
                    />
                    <span *ngIf="utils.isRequiredControl(updateDocumentForm,input.name)" class="obligatoire">*</span>
                    <mat-error *ngIf="updateDocumentForm.controls[input.name].invalid">Ce champ est requis</mat-error>
                    <mat-hint *ngIf="input.hint" align="end">{{ i.value.length }} / {{input.hint}}</mat-hint>
                  </mat-form-field>

                  <!-- Champs type datetime -->
                  <mat-form-field *ngIf="input.type === 'date'" [ngStyle]="{'order': input.order}" class="three">
                    <mat-label>{{input.label}}</mat-label>
                    <input autocomplete="off" matInput [min]="minDate" [matDatepicker]="i" [formControlName]="input.name"/>
                    <mat-datepicker-toggle matSuffix [for]="i"></mat-datepicker-toggle>
                    <mat-datepicker #i></mat-datepicker>
                    <span *ngIf="utils.isRequiredControl(updateDocumentForm,input.name)" class="obligatoire">*</span>
                    <mat-error *ngIf="updateDocumentForm.controls[input.name].invalid">Le format de date n'est pas valide
                    </mat-error>
                  </mat-form-field>

                  <!-- Champs type year -->
                  <mat-form-field *ngIf="input.type === 'year'" [ngStyle]="{'order': input.order}" class="three">
                    <mat-label>{{input.label}}</mat-label>
                    <input readonly class="date-input" matInput (focus)="i.open()" [value]="input.typedDate"/>
                    <input [formControlName]="input.name" [matDatepicker]="i" [min]="minDate" matInput
                           style="display:none;"/>
                    <mat-datepicker-toggle matSuffix [for]="i"></mat-datepicker-toggle>
                    <mat-datepicker #i startView="multi-year"
                                    (yearSelected)="setYear(input.name, $event, i)"></mat-datepicker>
                    <span *ngIf="utils.isRequiredControl(updateDocumentForm,input.name)" class="obligatoire">*</span>
                    <div
                      *ngIf="updateDocumentForm.controls[input.name].invalid && (updateDocumentForm.controls[input.name].dirty || updateDocumentForm.controls[input.name].touched)"
                      class="date-error">Le format de date n'est pas valide
                    </div>
                  </mat-form-field>

                  <!-- Champs type month -->
                  <mat-form-field *ngIf="input.type === 'month'" [ngStyle]="{'order': input.order}" class="three">
                    <mat-label>{{input.label}}</mat-label>
                    <input readonly class="date-input" matInput (focus)="i.open()" [value]="input.typedDate"/>
                    <input [formControlName]="input.name" [matDatepicker]="i" [min]="minDate" matInput
                           style="display:none;"/>
                    <mat-datepicker-toggle matSuffix [for]="i"></mat-datepicker-toggle>
                    <mat-datepicker #i startView="multi-year"
                                    (monthSelected)="setMonth(input.name, $event, i)"></mat-datepicker>
                    <span *ngIf="utils.isRequiredControl(updateDocumentForm,input.name)" class="obligatoire">*</span>
                    <div
                      *ngIf="updateDocumentForm.controls[input.name].invalid && (updateDocumentForm.controls[input.name].dirty || updateDocumentForm.controls[input.name].touched)"
                      class="date-error">Le format de date n'est pas valide
                    </div>
                  </mat-form-field>

                  <!-- Champs type select -->
                  <mat-form-field *ngIf="input.type === 'options'" [ngStyle]="{'order': input.order}" class="three">
                    <mat-label>{{input.label}}</mat-label>
                    <mat-select [formControlName]="input.name">
                      <mat-option [value]=""></mat-option>
                      <mat-option #i *ngFor="let option of input.options" [value]="option">{{option}}</mat-option>
                    </mat-select>
                    <span *ngIf="utils.isRequiredControl(updateDocumentForm,input.name)" class="obligatoire">*</span>
                    <mat-error *ngIf="updateDocumentForm.controls[input.name].invalid">Ce champ est requis</mat-error>
                  </mat-form-field>

                  <!-- Champ recherche API Salariés -->
                  <app-champ-salaries
                    *ngIf="input.type === 'searchSalarie'"
                    [ngStyle]="{'order': input.order}" class="three"
                    [isRequired]="utils.isRequiredControl(updateDocumentForm,input.name)"
                    [numeroDossier]="updateCustomer.value.numeroDossier"
                    [input]="input"
                    (selected)="selectedEmployee($event, input)">
                  </app-champ-salaries>
                </ng-container>
              </div>
            </form>
          </ng-container>
          <div class="buttons">
            <button mat-button (click)="close()" type="button">
              Annuler
            </button>
            <button [disabled]="!this.updateDocumentForm.valid || !this.updateCustomer.valid"
              color="primary"
              (click)="send()"
              mat-raised-button>
              Modifier
            </button>
          </div>
        </section>
      </ng-container>

      <ng-template #updateLaunchedTemplate>
        <div class="pending">
          <div class="title">
            <h3 [ngClass]="{'done': updateSuccess || updateFailed}">
              <span>
                <ng-container *ngIf="documents.length > 1; then titleDocs else titleDoc"></ng-container>
                <ng-template #titleDocs>
                  <label>Documents en cours de modification :</label>
                </ng-template>
                <ng-template #titleDoc>
                  <label>Document en cours de modification :</label>
                </ng-template>
              </span>
              <div *ngIf="updatePending" class="box">
                <div class="loader"></div>
              </div>
              <mat-icon *ngIf="updateSuccess">done</mat-icon>
              <mat-icon *ngIf="updateFailed">error</mat-icon>
            </h3>
          </div>
          <!-- Liste documents modifiés -->
          <div class="documents" *ngIf="successList.length > 0">
            <h3>
              <ng-container *ngIf="documents.length > 1; then updatedDocs else updatedDoc"></ng-container>
              <ng-template #updatedDocs>
                <label>Ces fichiers ont été modifiés :</label>
              </ng-template>
              <ng-template #updatedDoc>
                <label>Ce fichier a été modifié :</label>
              </ng-template>
            </h3>
            <div class="container-scroll">
              <ngx-simplebar [options]="{ autoHide: false }">
                <div *ngFor="let file of successList" class="documents-list">
                  <mat-icon>done</mat-icon>
                  <p>{{ file }}</p>
                </div>
              </ngx-simplebar>
            </div>
          </div>
          <!-- Liste documents échec modification -->
          <div class="documents" *ngIf="failList.length > 0">
            <h3>
              <ng-container *ngIf="documents.length > 1; then notUpdatedDocs else notUpdatedDoc"></ng-container>
              <ng-template #notUpdatedDocs>
                <label>Ces fichiers n'ont pas pu être modifiés :</label>
              </ng-template>
              <ng-template #notUpdatedDoc>
                <label>Ce fichier n'a pas pu être modifié :</label>
              </ng-template>
            </h3>
            <div class="container-scroll">
              <ngx-simplebar [options]="{ autoHide: false }">
                <div *ngFor="let file of failList" class="documents-list">
                  <mat-icon>error</mat-icon>
                  <div>
                    <p>{{ file.title }}</p>
                    <p><em>{{file.error}}</em></p>
                  </div>
                </div>
              </ngx-simplebar>
            </div>
          </div>

        </div>
        <div class="result">
          <!-- Succès modification -->
          <div *ngIf="updateSuccess">
            <h3>
              <div>
                <span>La modification a été un succès </span>
                <ng-container *ngIf="successList.length > 1; then docs_valid else doc_valid"></ng-container>
                <ng-template #docs_valid>
                  <span>({{successList.length}} documents modifiés).</span>
                </ng-template>
                <ng-template #doc_valid>
                  <span>(un document modifié).</span>
                </ng-template>
              </div>
            </h3>
            <button mat-raised-button color="primary" (click)="close(true)">Retour</button>
          </div>
        </div>
        <!-- Erreur envoi -->
        <div *ngIf="updateFailed">
          <h3>Une erreur est survenue lors de la modifications des métadonnées.</h3>
          <p>Veuillez contacter le support.</p>
          <button mat-raised-button color="primary" (click)="close()">Retour</button>
        </div>
      </ng-template>
    </article>
  </div>
  <div class="col-6">
    <app-file-view></app-file-view>
  </div>
</div>

<app-loading-overlay *ngIf="isLoadingDocument">
</app-loading-overlay>
