.dropzone {
    min-height: 300px;
    background-color: #eee;
    border: dashed 2px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3em;
    cursor: pointer;

    img {
        display: block;
        margin: 0 auto;
        max-width: 200px;
    }

    input[type="file"] {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    input[type="file"] + label {
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
    }

    input[type="file"] + label * {
        pointer-events: none;
    }
}


.file-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.file {
    display: flex;
    align-items: center;
    background: #eee;
    border-radius: 15px;
    padding: 5px;
    margin: 5px 10px 5px 0px;

    span {
        padding-right: 8px;
    }

    .mat-icon {
        margin-right: 8px;
        cursor: pointer;
    }

    &.invalid {
        .mat-icon, span {
            color: red;
        }
    }
}

.metadata {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .checkbox {
        width: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

button.next {
    float: right;
    margin: 15px 0;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
