<div *ngIf="totalItems !== 0" class="scroll">
  <ngx-simplebar #scrollable>
    <mat-table [dataSource]="dataSource">
      <ng-container [matColumnDef]=" ColumnsType.Select">
        <mat-header-cell *matHeaderCellDef class="custom-checkbox">
          <mat-checkbox color="primary" (change)="$event ? utils.masterToggle(dataSource, selection) : null"
                        [checked]="selection.hasValue() && utils.isAllSelected(dataSource, selection)"
                        [indeterminate]="selection.hasValue() && !utils.isAllSelected(dataSource, selection)">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="custom-checkbox">
          <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="ColumnsType.Description">
        <mat-header-cell *matHeaderCellDef class="description">Intitulé de l'enveloppe</mat-header-cell>
        <mat-cell *matCellDef="let element" class="description">{{ element.Description }}</mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="ColumnsType.Nature">
        <mat-header-cell *matHeaderCellDef>Nature</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.Nature }}</mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="ColumnsType.NatureDocument">
        <mat-header-cell *matHeaderCellDef>Nature du Document</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.NatureDocument }}</mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="ColumnsType.Fournisseur">
        <mat-header-cell *matHeaderCellDef>Fournisseur</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.Fournisseur }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Emetteur">
        <mat-header-cell *matHeaderCellDef>Emetteur</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <strong> {{ element.PrenomEmetteur }} {{ element.NomEmetteur }}</strong>
          <span>{{ element.MailEmetteur }}</span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="PendingSignataires">
        <mat-header-cell *matHeaderCellDef>Signature en attente</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element | pendingSignataire }}
        </mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="ColumnsType.Dates">
        <mat-header-cell *matHeaderCellDef>Dates</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span *ngIf="element.DateDocument">
            <strong>Demande :</strong>
            {{ element.DateDocument | formatDate }}
          </span>
          <span *ngIf="element.DateOperation">
            <strong>Opération :</strong>
            {{ element.DateOperation | formatDate }}
          </span>
          <span *ngIf="element.DateValidite">
            <strong>Validité :</strong>
            {{ element.DateValidite | formatDate }}
          </span>
          <span *ngIf="element.DatePriseEffet">
            <strong>Prise d'effet :</strong>
            {{ element.DatePriseEffet | formatDate }}
          </span>
          <span *ngIf="element.FinContrat">
            <strong>Fin de contrat :</strong>
            {{ element.FinContrat | formatDate }}
          </span>
          <span *ngIf="element.DateCertification">
            <strong>Signature : </strong> {{ element.DateCertification | formatDate }}
          </span>
          <span *ngIf="element.Resiliation">
            <strong>Résiliation :</strong>
            {{ element.Resiliation | formatDate }}
          </span>
        </mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="ColumnsType.DateSignature">
        <mat-header-cell *matHeaderCellDef>Dates de signatures Fidusign</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.DateDocument && element.StatutSignature === 'DOCUMENT_SIGNE'">
            <span *ngIf="element.DateSignature1">
              <strong>{{element.PrenomSignataire1}} {{element.NomSignataire1}}</strong> :
              {{ element.DateSignature1 | formatDate }}
            </span>
            <span *ngIf="element.DateSignature2">
              <strong>{{element.PrenomSignataire2}} {{element.NomSignataire2}}</strong> :
              {{ element.DateSignature2 | formatDate }}
            </span>
            <span *ngIf="element.DateSignature3">
              <strong>{{element.PrenomSignataire3}} {{element.NomSignataire3}}</strong> :
              {{ element.DateSignature3 | formatDate }}
            </span>
            <span *ngIf="element.DateSignature4">
              <strong>{{element.PrenomSignataire4}} {{element.NomSignataire4}}</strong>
              {{ element.DateSignature4 | formatDate }}
            </span>
          </ng-container>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Reconduction">
        <mat-header-cell *matHeaderCellDef>Reconduction</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.Reconduction}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Client">
        <mat-header-cell *matHeaderCellDef>Client</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.Client}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="SegmentMarche">
        <mat-header-cell *matHeaderCellDef>Segment Marché</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.SegmentMarche | labelValue : segmentMarcheList}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Categorie">
        <mat-header-cell *matHeaderCellDef>Catégorie</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.Categorie | categorieFidusign : categorieList}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="SousCategorie">
        <mat-header-cell *matHeaderCellDef>Sous catégorie</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.SousCategorie | sousCategorieFidusign : categorieList}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="StatutSignature">
        <mat-header-cell *matHeaderCellDef>Statut Signature</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element | signingStatus }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Files">
        <mat-header-cell *matHeaderCellDef>Documents</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span *ngFor="let doc of element.Files">{{doc}}</span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="EntiteJuridique">
        <mat-header-cell *matHeaderCellDef>Entité Juridique</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.Categorie | labelValue : entiteJuridiqueList}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="NatureOperation">
        <mat-header-cell *matHeaderCellDef>Nature de l'operation</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.NatureOperation }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="OptionsPending">
        <mat-header-cell *matHeaderCellDef>Options</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menuPending" aria-label="Afficher les options">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menuPending>
            <ng-container *ngIf="(!isReadOnly || (isCommercial && isSignataire(element))) && validationTime(element.DateDocument)">
              <button mat-menu-item (click)="retryAll(element)"
                      [disabled]="invalidStatus.includes(element.StatutSignature)">
                <mat-icon>autorenew</mat-icon>
                <span>Relancer tous les signataires</span>
              </button>
              <button mat-menu-item [matMenuTriggerFor]="menuSignataires"
                      [disabled]="invalidStatus.includes(element.StatutSignature)">
                <mat-icon>autorenew</mat-icon>
                <span>Relancer un signataire</span>
              </button>
              <button mat-menu-item
                      (click)="fidusign.cancelSigning(element.id)"
                      [disabled]="invalidStatus.includes(element.StatutSignature)">
                <mat-icon>cancel</mat-icon>
                <span>Annuler signature</span>
              </button>
              <button mat-menu-item (click)="changeEmail(element.uuids)"
                      [disabled]="invalidStatus.includes(element.StatutSignature)">
                <mat-icon>sync_alt</mat-icon>
                <span>Modifier signataire</span>
              </button>
            </ng-container>
            <button mat-menu-item (click)="preview.showPdfs(element.uuids)">
              <mat-icon>remove_red_eye</mat-icon>
              <span>Afficher un aperçu</span>
            </button>
            <button mat-menu-item (click)="file.downloadZIP(element.zipInfo, 'fidusign')">
              <mat-icon>vertical_align_bottom</mat-icon>
              <span>Télécharger les documents</span>
            </button>
          </mat-menu>
          <mat-menu #menuSignataires>
            <button (click)="fidusign.retrySigningOne(element.uuids, 1)" *ngIf="!fidusign.isAlreadySigned(element, 1)"
                    mat-menu-item>
              <mat-icon>person</mat-icon>
              <span>{{element.PrenomSignataire1}} {{element.NomSignataire1}}</span>
            </button>
            <button (click)="fidusign.retrySigningOne(element.uuids, 2)"
                    *ngIf="!fidusign.isAlreadySigned(element, 2) && element.MailSignataire2"
                    mat-menu-item>
              <mat-icon>person</mat-icon>
              <span>{{element.PrenomSignataire2}} {{element.NomSignataire2}}</span>
            </button>
            <button (click)="fidusign.retrySigningOne(element.uuids, 3)"
                    *ngIf="!fidusign.isAlreadySigned(element, 3) && element.MailSignataire3"
                    mat-menu-item>
              <mat-icon>person</mat-icon>
              <span>{{element.PrenomSignataire3}} {{element.NomSignataire3}}</span>
            </button>
            <button (click)="fidusign.retrySigningOne(element.uuids, 4)"
                    *ngIf="!fidusign.isAlreadySigned(element, 4) && element.MailSignataire4"
                    mat-menu-item>
              <mat-icon>person</mat-icon>
              <span>{{element.PrenomSignataire4}} {{element.NomSignataire4}}</span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="OptionsSigned">
        <mat-header-cell *matHeaderCellDef>Options</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menuSigned" aria-label="Afficher les options">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menuSigned>
            <button
              *ngIf="!isReadOnly && element.DateSignature1"
              mat-menu-item (click)="forward(element.uuids)">
              <mat-icon>forward_to_inbox</mat-icon>
              <span>Envoyer en copie</span>
            </button>
            <button mat-menu-item (click)="preview.showPdfs(element.uuids)">
              <mat-icon>remove_red_eye</mat-icon>
              <span>Afficher un aperçu</span>
            </button>
            <button mat-menu-item (click)="file.downloadZIP(element.zipInfo, 'fidusign')">
              <mat-icon>vertical_align_bottom</mat-icon>
              <span>Télécharger les documents</span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>
      <mat-row *matRowDef=" let row; columns: columns;"></mat-row>
    </mat-table>
  </ngx-simplebar>
</div>
<button *ngIf="totalItems !== 0" mat-raised-button class="more-results" color="primary" (click)="nextResults()"
        [disabled]="!hasMoreItems">
  Plus de résultats
</button>
<!-- Message à afficher quand le tableau est vide -->
<div *ngIf="totalItems === 0" class="no-results">
  <div>
    <h3>Aucun résultat pour cette recherche dans le dossier sélectionné.</h3>
    <button mat-button color="primary" (click)="backToSearch()">Effacer les filtres</button>
  </div>
</div>
