<div class="description">
  <mat-form-field>
    <mat-chip-list #copieMailList>
      <mat-chip
        class="langue"
        [ngClass]="{'warn': !selectedItem.valid}"
        *ngFor="let selectedItem of selectedList; let i=index">
        {{ selectedItem.value }}
        <mat-icon class="chip-icon" (click)="remove(selectedItem.value)">cancel</mat-icon>
      </mat-chip>
      <input
        [placeholder]="placeHolder"
        [formControl]="inputControl"
        [matChipInputFor]="copieMailList"
        [matChipInputAddOnBlur]="true"
        autocomplete="off"
        (matChipInputTokenEnd)="add($event)"
        [matAutocomplete]="autoGroup2"
        [matChipInputFor]="copieMailList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (paste)="onPaste($event)"/>
    </mat-chip-list>
    <mat-autocomplete
      #autoGroup2="matAutocomplete"
      (optionSelected)="selectOption(inputControl.value)"
      (mousedown)="$event.preventDefault()">
      <mat-option *ngFor="let item of manageableList" [value]="item">
        {{ item }}
      </mat-option>
    </mat-autocomplete>
    <mat-hint>Séparez les adresses d'un espace ou d'une virgule.</mat-hint>
  </mat-form-field>
  <mat-error *ngIf="mailCopieInvalid">Adresse e-mail invalide</mat-error>
</div>

